version: "3.9" # optional since v1.27.0
services:
  rstudio:
    image: joundso/rstudio:${IMAGE_VERSION_TAG}
    # build: .
    restart: unless-stopped
    environment:
      - PASSWORD=pwd
    ports:
      - "8787:8787" #rstudio
    volumes:
      - ..:/home/rstudio
    hostname: docker-rstudio
